@use "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: variables.$font-secondary;
    background: variables.$background-light;
    color: variables.$text-dark;
  }